
[submodule "software/ultralytics"]
	path = software/ultralytics
	url = https://github.com/ultralytics/ultralytics.git
[submodule "software/pico-sdk"]
	path = software/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
